<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
{{>header}}
<img class='portrait' src="/img/Aymoide Permit.jpg">
<p>Created by {{name}}</p>


</div>


{{>footer}}
</body>


</html>