<!DOCTYPE html>

<html>

<head>
    <title>Error: 404</title>
    <link rel="icon" href="/img/weather-icon.png">
    
</head>

<body>
<div class="main-content">

{{>header}}

<p>Error: {{error}}</p>


</div>


{{>footer}}
</body>


</html>